/* work sans google font */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* header style */

.header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 200px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
}
.list{
    list-style: none;
    font-size: 18px;
    margin-right: 30px;
}

/* banner style */
.banner-title{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.title{
    font-size: 64px;
    font-weight: 800;
    color: #131313;
}
.pera{
    color: #727272;
}
.btn{
    padding: 10px 25px;
    background-color: darkorange;
    font-size: 20px;
    border-radius: 8px;
    color: aliceblue;
    cursor: pointer;
    margin: 32px 0px;
}

.banner-img{
    width: auto;
}
.banner-img img{
    width: 100%;
}

/* responsive media for small device */

@media screen and (max-width: 576px) {
    .header{
        padding: 20px;
    } 
    nav{
        flex-direction: column;
    }   
   
}

/* responsive media for medium device */

@media screen and (min-width: 577px) and (max-width: 992px) {
    .header{
        padding: 20px;
    }
}
/* main style */
main{
    max-width: 1440px;
    margin: 0 auto;
}

/* features style */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px 100px;
}

.features-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.features-img img{
    width: 100%;
}

.gry{
    color: gray;
}
.bright{
    color: coral;
}

/* responsive media for medium device */
@media screen and (max-width: 576px) {
    .container, .card-container, .sponsors-container{
        flex-direction: column;
        padding: 10px;
        gap: 20px;
    }
    .features-img{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}
/* responsive media for medium device */

@media screen and (min-width: 577px) and (max-width: 992px) {
    .container, .card-container, .sponsors-container{
        flex-direction: column;
        padding: 10px;
        gap: 20px;
    }
    .features-img{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}


/* facts style */
.card-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
}
.card{
    width: 150px;
    border: 2px solid plum;
    text-align: center;
    padding: 20px;
}
/* sponsors style */
.sponsor{
    max-width: 500px;
    margin: 40px auto;
    text-align: center;
}
.sponsors-container{
    display: flex;
    justify-content: space-around;
}